<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.dalianghe.admin.mapper.InvestigateMapper">
    <!--<resultMap id="BaseResultMap" type="com.github.dalianghe.admin.entity.Investigate">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="question1" jdbcType="VARCHAR" property="question1"/>
        <result column="question2" jdbcType="VARCHAR" property="question2"/>
        <result column="question3" jdbcType="VARCHAR" property="question3"/>
        <result column="question4" jdbcType="VARCHAR" property="question4"/>
        <result column="question5" jdbcType="VARCHAR" property="question5"/>
        <result column="question6" jdbcType="VARCHAR" property="question6"/>
        <result column="question7" jdbcType="VARCHAR" property="question7"/>
        <result column="question8" jdbcType="VARCHAR" property="question8"/>
        <result column="question9" jdbcType="VARCHAR" property="question9"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>-->

    <insert id="insert" parameterType="com.github.dalianghe.admin.entity.Investigate">
        insert into investigate (question1,question2,question3,question4,question5,question6,question7,question8,question9,create_time)
        values (#{question1,jdbcType=VARCHAR},#{question2,jdbcType=VARCHAR},#{question3,jdbcType=VARCHAR},
                #{question4,jdbcType=VARCHAR},#{question5,jdbcType=VARCHAR},#{question6,jdbcType=VARCHAR},
                #{question7,jdbcType=VARCHAR},#{question8,jdbcType=VARCHAR},#{question9,jdbcType=VARCHAR},#{createTime,jdbcType=TIMESTAMP})
    </insert>

</mapper>